[Unit]
Description=Example Flask Application
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/opt/example
Environment="instance_path=/opt/example/instance"
ExecStart=/opt/example/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:{{ port }} run:app
Restart=on-failure

[Install]
WantedBy=multi-user.target


